.egox_token_div_section1 {
  background: #000;
  background-image: radial-gradient(#3cd19929, #000);
  color: #fff;
  padding: 6em 0em;
  /* padding-bottom: 0em; */
  overflow: hidden;
  position: relative;
  padding-top: 10em;
}
.egox_token_div_section1area {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.home_div_section3_area_body_paragraph {
  line-height: 2;
  font-size: 24px;
  font-weight: 300;
  color: #d6ece5;
}
.egox_token_div_section1area_cont2 {
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5em;
  border: solid 1px #25362f;
  padding: 3em 2em;
  border-radius: 15px;
  background: linear-gradient(178deg, #2f4d4b5c, #3449481c);
  border: solid 1px #0c1c1b;
}
.home_div_section1_area_stats_div1_title {
  font-size: 42px;
  font-weight: 600;
  overflow-wrap: anywhere;
}
.home_div_section1_area_stats_div1_para {
  color: #3cd199;
}
.egox_token_div_section1area_cont1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.egox_token_div_section1area1 {
  width: 100%;
  margin-right: 2em;
}
.egox_token_div_section1area1_title {
  font-size: 82px;
  font-weight: 700;
}
.egox_token_div_section1area1_para {
  font-size: 24px;
  margin-top: 1em;
  color: #abd0c1;
}
.egox_token_div_section2_area_1_head {
  font-size: 28px;
  margin-bottom: 10px;
  color: #acacac;
}
.egox_token_div_section2_area_1_head_title {
  font-size: 72px;
  font-weight: 600;
  width: 90%;
  line-height: 1;
}
.egox_token_div_section2_area_1_head_para {
  font-size: 24px;
  margin-top: 10px;
}
.egox_token_div_section2_area_card_body {
  margin-top: 2em;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: flex-start;
  gap: 20px;
}

.egox_token_div_section2_area_body_cont1_card {
  background: linear-gradient(178deg, #2f4d4b5c, #3449481c);
  padding: 2em;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.egox_token_div_section2_area_body_cont1_title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}
.egox_token_div_section2_area_body_cont1_links_txt {
  margin-top: 2em;
}
.egox_token_div_section2_area_body_cont1_links {
  margin-top: 10px;
}
.egox_token_div_section2_area_body_cont1_links_link_icon {
  margin-right: 10px;
  background: #fff;
  color: #000;
  padding: 9px;
  border-radius: 50px;
}
.egox_token_div_section2_area_body_cont1_links_link_img {
  width: 30px;
  background: #fff;
  margin-right: 10px;
  border-radius: 50px;
  padding: 5px;
}
.home_div_section1_area_2 {
  position: relative;
}
.home_div_section1_area_2_img {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}
.egox_token_div_section1area2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.egox_token_div_section1area2_img {
  width: 100%;
}
.egox_token_div_section2 {
  background: #000;
  background-image: radial-gradient(#3cd19929, #000);
  color: #fff;
  padding: 6em 0em;
  position: relative;
  z-index: 1;
}
.egox_token_div_section2_area {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.egox_token_div_section2_area_title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 1em;
}
.egox_token_div_section2_area_body {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.egox_token_div_section2_area_body_cont1 {
  margin: 0px 10px;
  /* border: solid 1px #25362f; */
  /* padding: 2em; */
  /* border-radius: 11px; */
  /* display: flex; */
  /* flex-direction: column; */
  padding: 2em;
  min-height: 24em;
  margin-bottom: 1em;
  margin-right: 1em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(178deg, #2f4d4b5c, #3449481c);
  border: solid 1px #0c1c1b;
  cursor: pointer;
}
.egox_token_div_section2_area_body_cont1_icon_div {
  width: 70px;
  margin-bottom: 13px;
}
.egox_token_div_section2_area_body_cont1_icon_div_img {
  width: 100%;
}
.egox_token_div_section2_area_body_cont1_title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}
.egox_token_div_section2_area_body_cont1_para {
  color: #abd0c1;
}
.egox_token_div_section3 {
  background: #000;
  background-image: radial-gradient(#3cd19929, #000);
  color: #fff;
  padding: 6em 0em;
  position: relative;
  padding-top: 10em;
  overflow: hidden;
}
.egox_token_div_section3b {
  background: #000;
  background-image: radial-gradient(#3cd19929, #000);
  color: #fff;
  padding: 6em 0em;
  position: relative;
  padding-top: 10em;
  overflow: hidden;
}
.egox_token_div_section3_area {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.egox_token_div_section3_area_title {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  font-size: 48px;
  font-weight: 700;
}
.egox_token_div_section3_area_titleb {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  font-size: 68px;
  font-weight: 700;
  text-align: center;
}
.egox_token_div_section3_area_title_para {
  color: #abd0c1;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
}
.egox_token_div_section3_area_body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.egox_token_div_section3_area_body_img {
  width: 70%;
}

.grains_ellipse_roadmap {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.2;
}
/* ============ */
/* ============ */
/* ============ */

.egox_token_div_section3_area_body svg tspan {
  fill: #fff;
}
.egox_token_div_section3_area_body svg polyline {
  stroke: #fff;
}
.egox_token_div_section3_area_body svg {
  height: 600px !important;
}
.supply_div {
  position: absolute;
  top: auto;
  bottom: auto;
  margin: auto;
  left: auto;
  right: auto;
  background: #0b2018;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  border-radius: 50%;
}

.distribution_div_area {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: flex-start;
  gap: 30px;
}
.distribution_div_area_cont1 {
  padding: 2em;
  background: grey;
  border-radius: 10px;
  background: linear-gradient(178deg, #2f4d4b5c, #3449481c);
  border: solid 1px #0c1c1b;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.distribution_div_area_cont1_title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #99beb6;
}
.supply_div_amnt {
  font-size: 18px;
  margin-top: 5px;
  font-weight: 600;
}
.supply_div_title {
  font-size: 14px;
}
.distribution_div_area_cont1_body {
  display: flex;
  flex-direction: column;
}
.distribution_div_area_cont1_body_cont1 {
  margin-bottom: 10px;
}
.mobile_supply_div {
  display: none;
}
/* ============ */
/* ============ */
/* ============ */
/* ============ */
/* ============ */
/* ============ */
/* ============ */
@media (max-width: 999px) {
  .egox_token_div_section2_area_body {
    flex-direction: column;
  }
  .egox_token_div_section2_area_body_cont1 {
    margin: 10px 0px;
  }
  .egox_token_div_section1area_cont1 {
    flex-direction: column;
  }
  .egox_token_div_section1area2_img {
    width: 70%;
  }
  .egox_token_div_section3_area_body svg {
    height: 350px !important;
  }

  .egox_token_div_section2_area_card_body {
    margin-top: 2em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: flex-start;
    gap: 20px;
  }
  .egox_token_div_section2_area_1_head_title {
    font-size: 48px;
    font-weight: 600;
    width: 90%;
    line-height: 1;
  }
  .egox_token_div_section2_area_1_head_para {
    font-size: 18px;
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  /* .egox_token_div_section3 {
    padding: 2em 0em;
    padding-top: 4em;
  } */
  /* .egox_token_div_section3_area_body svg g[aria-label="Public Sale: 0.1%"] {
    transform: translateX(-38px);
  } */
  .egox_token_div_section3_area_body
    svg
    g[aria-label="Private & OTC Sales: 9.0%"] {
    transform: translate3d(-16%, -24%, 0);
  }
  .egox_token_div_section3_area_body svg tspan {
    font-size: 10px;
  }
  .egox_token_div_section3_area_body svg {
    height: 200px !important;
  }
  .egox_token_div_section3b {
    padding: 2em 0em;
    padding-top: 4em;
  }
  .egox_token_div_section3_area_titleb {
    font-size: 48px;
  }
  .distribution_div_area {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-content: flex-start;
    gap: 20px;
  }
  .supply_div {
    display: none;
  }
  .mobile_supply_div {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }
  .mobile_supply_div_span {
    font-size: 16px;
    margin-top: 3px;
    font-weight: 500;
  }
}
@media (max-width: 600px) {
  .egox_token_div_section3_area_titleb {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .egox_token_div_section1area1 {
    width: 100%;
    margin-right: 0em;
    margin-bottom: 2em;
  }
  .egox_token_div_section1area1_para {
    font-size: 18px;
    margin-top: 1em;
  }
  .egox_token_div_section1area1_title {
    font-size: 48px;
    font-weight: 700;
  }
  .egox_token_div_section1area_cont2 {
    padding: 1em;
    border-radius: 15px;
    width: -webkit-fill-available;
    display: grid;
    gap: 23px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: flex-start;
  }
  .egox_token_div_section2 {
    padding: 4em 0em;
  }
  .egox_token_div_section1 {
    padding: 4em 0em;
    padding-top: 8em;
  }
  .egox_token_div_section3 {
    padding: 4em 0em;
    padding-top: 8em;
  }
  .egox_token_div_section3 {
    padding: 2em 0em;
    padding-top: 8em;
  }
  .egox_token_div_section3_area_title {
    font-size: 38px;
  }
  .egox_token_div_section2_area_body_cont1_title {
    font-size: 24px;
  }
  .egox_token_div_section2_area_title {
    font-size: 38px;
  }
  .egox_token_div_section3_area_body_img {
    width: 100%;
  }
  .egox_token_div_section2_area_card_body {
    margin-top: 2em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-content: flex-start;
    gap: 20px;
  }
  .egox_token_div_section2_area_1_head_title {
    font-size: 32px;
    font-weight: 600;
    width: 90%;
    line-height: 1;
  }
  .egox_token_div_section2_area_1_head {
    font-size: 20px;
    margin-bottom: 10px;
    color: #acacac;
  }
}
@media (max-width: 396px) {
  .egox_token_div_section3_area_body
    svg
    g[aria-label="Private & OTC Sales: 9.0%"] {
    transform: translate3d(-14%, -16%, 0);
    width: 10px;
  }
  .egox_token_div_section3_area_body svg {
    height: 140px !important;
  }
  .egox_token_div_section3_area_body svg tspan {
    font-size: 8px;
  }
  .egox_token_div_section3_area_titleb {
    font-size: 28px;
    margin-bottom: 10px;
  }
}
