.header_div {
  position: fixed;
  z-index: 100;
  width: 100vw;
  background: #0000001c;
  color: #fff;
  backdrop-filter: blur(20px);
  top: 0;
  left: 0;
  padding: 2em 0em;
  border-bottom: solid 1px #2626268c;
}
.header_div_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_div_area_1 {
  font-size: 32px;
  font-weight: 600;
}
.header_div_area_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_div_area_2_link1 {
  margin-left: 2em;
  cursor: pointer;
}

.header_div_area_2_link1:hover {
  color: #3cd19a;
}
